<mat-toolbar color="primary">
  <span>Quiz Application</span>
  <button mat-button routerLink="/">Home</button>

  @for(item of quizMenus; track item.id){
  <button
    mat-button
    [matMenuTriggerFor]="appMenu"
    [matMenuTriggerData]="{ items: item.items }"
  >
    {{ item.name }}
  </button>

  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-items="items">
      @for(item of items; track item.id) {
      <button mat-menu-item [routerLink]="item.routerLink">
        {{ item.name }}
      </button>
      }
    </ng-template>
  </mat-menu>
  }
  <span class="example-spacer"></span>
  <button mat-button routerLink="/admin">Admin</button>
</mat-toolbar>
<router-outlet></router-outlet>
